
body{font-family:sans-serif;background:#0d2342;color:white;text-align:center}
.center{margin-top:100px}
.logo{width:120px}
input{display:block;margin:10px auto;padding:10px;border-radius:8px;border:none}
button{padding:10px 20px;background:#3b82f6;color:white;border:none;border-radius:10px}
.hidden{display:none}
.grid{display:grid;grid-template-columns:1fr 1fr;gap:20px;padding:40px}
.btn{background:#4f7df3;padding:30px;border-radius:20px;font-size:22px}
