body{margin:0;font-family:Arial;background:#081a2c;color:#fff}
.hidden{display:none}
.loginBox{height:100vh;display:flex;flex-direction:column;align-items:center;justify-content:center;gap:10px}
.logo{width:80px}
.grid{display:grid;grid-template-columns:1fr 1fr;height:100vh;gap:10px;padding:20px}
.grid button{background:#fff;color:#000;font-size:24px;border-radius:12px;border:0}
ul{list-style:none;padding:20px}
li{display:flex;justify-content:space-between;padding:8px}
