body{
    margin:0;
    font-family:Arial;
    background:#0d2747;
    color:white;
}
.center{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
    gap:15px;
}
.logo{
    width:120px;
}
input{
    padding:12px;
    width:250px;
    border-radius:8px;
    border:none;
}
button{
    padding:12px 30px;
    border:none;
    border-radius:10px;
    background:#3b82f6;
    color:white;
    font-size:18px;
}
.hidden{display:none;}
.grid{
    height:100vh;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
}
.tile{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:28px;
    background:#4f7df0;
    margin:20px;
    border-radius:20px;
}
