
body{
 margin:0;
 background:#0d2747;
 font-family:Arial;
 color:white;
}
#login{
 display:flex;
 flex-direction:column;
 align-items:center;
 justify-content:center;
 height:100vh;
 gap:12px;
}
.logo{width:120px}
input{
 padding:12px;
 width:260px;
 border-radius:10px;
 border:none;
}
button{
 padding:12px 30px;
 border:none;
 border-radius:10px;
 background:#3b82f6;
 color:white;
 font-size:18px;
}
